<?xml version="1.0" encoding="UTF-8" ?>
<CONFIG>
<PARAMETERS>
<GATKGENOMEBED>F:/rogaev/programming/pipeline/human_g1k_v37.bed</GATKGENOMEBED>
<CASE>F:/rogaev/programming/pipeline/set.vcf</CASE>
<CONTROL>F:/rogaev/programming/pipeline/set.vcf</CONTROL>

<USER>reshetov</USER>
<EMAIL>reshetovdenis@gmail.com</EMAIL>
<PROJECT>test2</PROJECT>
<SAMPLE_NAME>SAMPLE_NAME</SAMPLE_NAME>
<DIR>F:/rogaev/programming/pipeline</DIR>


</PARAMETERS>
	<DATA>
	<LANE ID='S000001.1' PL='ILLUMINA' CN='Rogaev E. lab' DS='Q' DT='20100924' FO='N' KS='' LB='L00000001' 
	PG='bwa,samtools' PI='312' PU='FCB_100924_SN150_0112_B20BM2ABXX_2' SM='V-5'>
	<FORWARD>/data/CURENT/110811_SN150_0222_BD07P6ACXX/s_2_1_sequence.txt.gz</FORWARD>
	<REVERSE>/data/CURENT/110811_SN150_0222_BD07P6ACXX/s_2_2_sequence.txt.gz</REVERSE>
	</LANE>
	<LANE ID='S000001.2' PL='ILLUMINA' CN='Rogaev E. lab' DS='Q' DT='20100924' FO='N' KS='' LB='L00000001' 
	PG='bwa,samtools' PI='312' PU='FCB_100924_SN150_0112_B20BM2ABXX_2' SM='V-5'>
	<BAM1>/data/CURENT/110811_SN150_0222_BD07P6ACXX/s_2_1_sequence.txt.bam</BAM1>
	<BAM2>/data/CURENT/110811_SN150_0222_BD07P6ACXX/s_2_1_sequence.txt.bam</BAM2>
	</LANE>	
    <LANE PL='virtual' >
    </LANE>	
    </DATA>

</CONFIG>